
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
}

.btn-secondary {
    width: 100%;
    padding: 10px;
}

.form-text {
    font-size: 0.9rem;
    margin-top: 5px;
}
#background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
    
  }